<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projext Vue 20200827</title>
    <!-- import the webpage's javascript file -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
   <div id="app" class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
        
        <div class="row">
            <h1>
                {{ msg }}
            </h1>
        </div>
        <div class="row">
            <p>
                v-for and v-bind : 
            </p>
            <img width="50" height="50"
            :src="imgSrc" 
            v-for="i in 10"
            :key="i"
            >
        </div>
        <div class="row">
            <p>
                v-if : 
            </p>
            <p v-if="showText(1)">
                Hello
            </p>
            <p v-else>
                Nothing to show from v-else
            </p>
        </div>
        <div class="row">
            <p>
                counter {{counter}}
            </p>
            <p>
                <div class="ui labeled button" tabindex="0">
                    <div class="ui red button" @click="count">
                      <i class="heart icon" ></i> Like
                    </div>
                    <a class="ui basic red left pointing label">
                        {{counter}}
                    </a>
                  </div>
            </p>
        </div>
        <div class="row">
            <div class="ui card">
                <div class="content">
                  <div class="right floated meta">14h</div>
                  <img class="ui avatar image" :src="imgSrc"> Elliot
                </div>
                <div class="image">
                  <img :src="imgSrc">
                </div>
                <div class="content" @click="count">
                  <span class="right floated">
                    <i class="heart outline like icon"></i>
                    {{counter}} likes
                  </span>
                  <i class="comment icon"></i>
                  3 comments
                </div>
                <div class="extra content">
                  <div class="ui large transparent left icon input">
                    <i class="heart outline icon"></i>
                    <input type="text" placeholder="Add Comment...">
                  </div>
                </div>
              </div>
        </div>

        
   </div>


   <script>
       new Vue({
           el:'#app',
           data:function(){
               return{
                   msg:'Welcome',
                   counter:0,
                   imgSrc:'https://i.ytimg.com/vi/Ne-kTa8ujLE/maxresdefault.jpg',
                   users:[
                       'user1','user2','user3'
                   ]
               }
           },
           methods: {
               showText:function(e){
                    return e > 0
               },
               count:function(){
                    return this.counter ++
               },

           },
           watch: {
                counter:function(){
                       var vm = this
                       if (vm.counter > 10) {
                           vm.count = '555555'
                       }
                    //    setTimeout(function(){
                    //     vm.counter = 0
                    //    },2000)
                   }
               },
       });
   </script>
       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</body>
</html>